button{
    display: inline-block;
    color: red;
    /* padding: 1em; */
    background-color: white;
    border-color: black;
    margin: .1em;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.7em;
    outline: none
}
/* #calc-buttons {
    align-content: center;
    margin: 1em
} */
#calculator{
    background-color: black;
    align-content: center;
    border-radius: 5%;
    width: 15.5em;
    border-bottom-width: .5em;
    border-color: black;
    padding: 1em;
}
#display {
    height: 4em;
    background-color: white;
    border-color: black;
    border-radius: 5%;
    border: .5em;
    margin: .5em;
    border-style: solid;
    text-align: right;
    
}