button{
    display: inline-block;
    color: red;
    padding: 1em;
    background-color: white;
    border-color: black;
    margin: .1em;
    height: 1em;
    width: 1em;
    text-align: center;
    border-radius: 50%
}
#calc-buttons {
    align-content: center;
    margin: 1em
}
#calculator{
    background-color: black;
    align-content: center;
    border-radius: 5%;
    width: 21.5em;
    border-bottom-width: .5em;
    border-color: black;
    padding: 1em;
}
#display {
    height: 4em;
    background-color: white;
    border-color: black;
    border-radius: 5%;
    border: .5em;
    margin: .5em;
    border-style: solid;
    text-align: right;
    
}